*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
}

h1, h2, h3, h4, nav, .btn {
    font-family: 'Raleway', sans-serif;
}

a {
    color: $white;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 95%;
    }
}