#productivity {
    .productivity__left img {
        display: block;
        width: 90%;
        margin-bottom: 1.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .productivity__right a {
        color: $cyan;
        padding-bottom: 3px;
        border-bottom: 1px solid $cyan;
        display: inline-flex;
        gap: 3px;
        align-items: center;

    }

    @media screen and (min-width: 768px) {
        .container {
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;

            & > * {
                flex: 1;
            }
        }

        .productivity__left img {
            width: 100%;
        }
    }


}